extends mainLayout 

block header 
    script(src="/chess-engine.js")
    script(src="/public/lib/utils.js") 
    script(src="/public/chess/config.js") 
    script(src="/public/chess/script.js", defer)
    link(rel="stylesheet", href="/public/chess/style.css")
    title Chess

block content 
    #home ⌂
    #loading.centerNotif
        #bounceball.loadingItem
        #text.loadingItem WAITING FOR THE OTHER PLAYER
        #invite.loadingItem 
    #container 
        #chess
    #winnerWindow.centerNotif
        #winnerText Winner: Black
        #winner You Win